*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.bgimg
{
    background-size: cover;
}
.sidebar
{
    width: 200px;
    height: 100vh;
    background-color:#01082e;
    color: #ffff;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.sidebar nav ul
{
    list-style: none;
    width: 100%;
}

.sidebar nav ul li
{
    padding: 15px;
    text-align: center;
    display: flex;
    align-items: center;
}

.sidebar nav ul li img
{
    width: 25px;
    height: 25px;
    margin-right: 14px;
}

.sidebar nav ul li a
{
    padding-top: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.sidebar nav ul li a:hover
{
    color: rgb(0, 250, 229);
}

.content
{
    margin-left: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
    text-align: center;
}
.fill
{
    margin-top: 20px;
    padding: 40px;
    border-radius: 8px;
    width: 40%;
    background: transparent;
}

h1
{
    font-size: 45px;
    margin-top: 50px;
}

.exam-form label
{
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    text-align: left; 
}

.exam-form input
{
    color: white;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 2px solid #fff;
}

.exam-form button
{
    background-image: linear-gradient(to right, #dd72a6,#9d208f );
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    align-self: flex-start;
    margin-top: 20px;
    margin-left: 260px;
}

.exam-form button:hover
{
    background-image: linear-gradient(to right, #a359a0, #6141ac);
}

