form
{
    font-family: Arial, sans-serif;color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 25px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

form input[type="text"], 
form input[type="password"]
{
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 3px solid #000000;
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
}

form input[type = "radio"]
{
    margin: 0 5px;
}
.btnlogin
{
    background: linear-gradient(to right, #0927eb, #38b6ff) ;
    color: white;
    border-radius: 15px;
    height: 30px;
    width: 100px;
    border: none;
    transition: background-color 1.0s ease, transform 0.5s ease;
}
.btnlogin:hover
{
    background: linear-gradient(to right, #ff0000, #b700ff) ;
    transform: scale(1.05);

}

h1
{
    padding: 0;
    margin:0;
}

.Username
{
    margin-top: 10px;;
    padding-right: 95px;
}

.password
{
    color: #000000;
    padding-right: 95px;
}

.admin
{
    color: black;
}

.lecturer
{
    color:#000000;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
    background-image: url("images2/newbackground2.png") ;
    background-size: cover;
}

.loginform
{
    padding: 40px;
    border-radius: 18px;
    width: 100%;
    background: white;
    color:#000000;
    text-align: center;
}